# Игнорировать папку с настройками PyCharm
.idea/

# Игнорировать виртуальное окружение
.venv/
*.env

# Игнорировать файлы с логами
*.log

# Игнорировать кэшированные файлы
__pycache__/
*.pyc
*.pyo

# Игнорировать системные файлы
.DS_Store   # macOS
Thumbs.db   # Windows
